/* nav bar */
nav .input-field {
  width: 35%;
}

/* Add recipe form */
#add-recipe-modal,
#edit-recipe-modal {
  width: 75%;
  height: fit-content;
}

#add-recipe-modal .row,
#edit-recipe-modal .row {
  margin-bottom: 0;
}

/* 
input[type="text"]:not(.browser-default),
input[type="number"]:not(.browser-default) {
  border: 1px black solid;
  border-radius: 5px;
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]) {
  border: 1px blue solid;
  box-shadow: 0 1px 0 0 blue;
}

textarea {
  border: 1px black solid;
  border-radius: 5px;
  height: 3rem;
}

textarea.focus:not([readonly]) {
  border: 1px blue solid;
  box-shadow: 0 1px 0 0 blue;
}

.input-box {
  display: flex;
}

.btn-box {
  display: flex;
  align-items: center;
  margin: 0 0 8px 0;
} */
